$content-margin: 0 auto;

/* --- WIDTHS --- */
$mobile-full-width: 320px;
$mobile-content-width: 260px;

$tablet-full-width: 768px;
$tablet-content-width: 668px;

$desktop-full-width: 1150px;
$desktop-content-width: 1050px;

/* --- MEDIA QUERIES--- */
$mobile-width-only: '(max-width: 767px)';
$tablet-width: '(min-width: 768px)';
$desktop-width: '(min-width: 1150px)';

$retina: '(min-resolution: 144dpi), (min-resolution: 1.5dppx)';

/*  --- COLORS --- */
$decor-green-light: #62d1ba;
$decor-green-dark: #63d1bb;
$text-brown: #444;
$text-black: #000;
$text-white: #fff;
$text-active-gray: #c7c7c7;
$footer-gray: #f1f1f1;
