.contacts {

  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.contacts__header {
  margin-top: 38px;
  font-size: 18px;
  line-height: 30px;
  color: #000;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  font-size: 17px;
}

.contacts__row {
  flex-basis: 100%;
  margin-top: 28px;

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.contacts__key {
  float: left;
  width: 75px;
}

.contacts__key-value {
  margin: 0;
  margin-left: 75px;
  width: auto;
}

.contacts__value-mail {
  padding-bottom: 6px;
  border-bottom: 1px solid #62d1ba;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map-container {
  width: $full-width;
  height: 457px;
  margin-top: 37px;
  //margin-bottom: 25px;
}

.contacts__map {
  width: 100%;
  height: 100%;
  border: none;
}

.contacts__mailus-btn {
  width: $content-width;
  margin: $content-margin;
  margin-top: 31px;
  margin-bottom: 25px;
  font-size: 18px;
}




@media #{$tablet-width} {
  .contacts__header {
    position: relative;
    margin-top: 70px;
    font-size: 43px;
    line-height: 50px;

    &:after {
      content: url('../img/icon-flag.svg');
      position: absolute;
      top: -15px;
      right: 3px;
    }
  }

  .contacts__list {
    flex-direction: row;
  }

  .contacts__row {
    flex-basis: 50%;
    margin-top: 46px;
  }

  .contacts__map-container {
    width: 768px;
    height: 478px;
  }

  .contacts__mailus {
    margin-top: 47px;
    width: 225px;
  }
}

@media #{$desktop-width} {
  .contacts {
    position: relative;
    box-sizing: border-box;
    width: 1050px;
    margin: $content-margin;
    padding-left: 165px;
    margin-bottom: 105px;
  }

  .contacts__header {
    margin-top: 150px;
    font-size: 53px;
    line-height: 57px;

    &:after {
      right: auto;
      top: -6px;
      left: -106px;
    }
  }

  .contacts__list {
    flex-direction: column;
  }

  .contacts__map-container {
    position: absolute;
    top: -70px;
    right: 0;
    bottom: 0;
    height: auto;
    width: 525px;
    margin: 0;
  }

  .contacts__mailus-btn {
    margin: 0;
    margin-left: 10px;
    margin-top: 67px;
  }
}
