.feedbacks {
  border-top: 1px solid #fff;

  &__wrapper {
    width: $content-width;
    margin: $content-margin;
  }

  &__header {
    margin-top: 57px;
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    text-align: left;
    color: #000000;
  }

  &__control {
    position: relative;
    height: 50px;

    &-btn {
      position: absolute;
      width: 50%;
      height: 50px;
      // padding-top: 12px;
      padding: 0;
      border: 1px solid #ececec;
    }
    &-btn--left {
      left: 0;
    }

    &-btn--right {
      right: 0;
      border-left: none;
    }

    &-btn img {
      vertical-align: middle;
    }

  }

  &__add-btn {
    margin-top: 38px;
    margin-bottom: 48px;
  }
}

@media #{$tablet-width} {
  .feedbacks {
    margin-top: 78px;
    padding-bottom: 20px;
    margin-bottom: 70px;
    background:  url('../img/review@1x.jpg') no-repeat left top;

    @media #{$retina} {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }

    &__wrapper {
      position: relative;
      width: 668px;
    }

    &__header {
      margin-top: 76px;
      font-size: 43px;
      line-height: 50px;
    }

    &__control {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 175px;

      &-btn {
        border: none;
      }

    }

    &__add-btn {
      position: absolute;
      right: 0;
      top: 5px;
      margin: 0;
      width: 170px;
    }
  }
}

@media #{$desktop-width} {
  .feedbacks {
    background: none;
    margin-bottom: 60px;

    &__wrapper {
      width: 1050px;
      box-sizing: border-box;
      padding-left: 170px;
      padding-top: 75px;
      padding-bottom: 65px;
      background:  url('../img/review@1x.jpg') no-repeat left top;

      @media #{$retina} {
        background-image: url("../img/review@2x.jpg");
        background-size: 350px auto;
      }
    }

    &__header {
      margin-top: 0;
      font-size: 53px;
      line-height: 57px;
    }

    &__add-btn {
      top: 85px;
    }

    &__control {
      bottom: 98px;
    }
  }
}
