.feedbacks {
  border-top: 1px solid #fff;
}

.feedbacks__wrapper {
  width: $mobile-content-width;
  margin: $content-margin;
}

.feedbacks__header {
  margin-top: 57px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  text-align: left;
  color: #000000;
}

.feedbacks__control {
  position: relative;
  height: 50px;
}

.feedbacks__control-btn {
  position: absolute;
  width: 50%;
  height: 50px;
  padding: 0;
  border: 1px solid #ececec;
  background-color: transparent;

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
    border-left: none;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
    outline: none;
  }

}

.feedbacks__control-btn img {
  vertical-align: middle;
}

.feedbacks__add-btn {
  margin-top: 38px;
  margin-bottom: 48px;
}

@media #{$tablet-width} {
  .feedbacks {
    margin-top: 78px;
    padding-bottom: 20px;
    margin-bottom: 70px;
    background:  url('../img/review@1x.jpg') no-repeat left top;

    @media #{$retina} {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  .feedbacks__wrapper {
    position: relative;
    width: 668px;
  }

  .feedbacks__header {
    margin-top: 80px;
    font-size: 43px;
    line-height: 50px;
  }

  .feedbacks__control {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 175px;
  }

  .feedbacks__control-btn {
    border: none;
  }


  .feedbacks__add-btn {
    position: absolute;
    right: 0;
    top: 5px;
    margin: 0;
    width: 170px;
  }
}

@media #{$desktop-width} {
  .feedbacks {
    background: none;
    margin-bottom: 60px;
  }

  .feedbacks__wrapper {
    width: $desktop-content-width;
    box-sizing: border-box;
    padding-left: 175px;
    padding-top: 75px;
    padding-bottom: 65px;
    background:  url('../img/review@1x.jpg') no-repeat left top;

    @media #{$retina} {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  .feedbacks__header {
    margin-top: 0;
    font-size: 53px;
    line-height: 57px;
  }

  .feedbacks__add-btn {
    top: 85px;
  }

  .feedbacks__control {
    bottom: 98px;
  }
}
