.goods-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  border: 1px solid #ededed;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
  }
}

.goods-card__picture,
.goods-card__picture img {
  width: 260px;
  height: 195px;
}

.goods-card__title {
  margin:0;
  margin-top: 23px;
  margin-left: 29px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.goods-card__desc {
  margin:0;
  margin-left: 29px;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.goods-card__price {
  display: flex;
  justify-content: space-between;
  margin: 27px;
  padding-top: 15px;
  border-top: 1px solid #ececec;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}

.goods-card__order-btn {
  //float: right;
  font-size: 0;

  &:before {
    content: url('../img/icon-cart.svg')
  }
}



@media #{$tablet-width} {
  .goods-card {
    flex-direction: row;
    margin-bottom: 54px;
  }

  .goods-card__picture {
    // flex-basis: 100%;
    margin-right: 25px;
  }

  .goods-card__picture,
  .goods-card__picture img {
    width: 334px;
    height: 332px;
  }

  .goods-card__column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .goods-card__title {
    font-size: 20px;
    margin-top: 25px;
    margin-right: 65px;
    margin-left: 0;
  }

  .goods-card__desc {
    margin-top: 5px;
    margin-left: 0;
    font-size: 15px;
  }

  .goods-card__price {
    margin-top: auto;
    margin-left: 5px;
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 17px;
  }

}

@media #{$desktop-width} {
  .goods-card {
    flex-basis: 314px;
    flex-direction: column;
  }

  .goods-card__picture,
  .goods-card__picture img {
    width: 315px;
    height: 463px;
    margin-right: 0;
  }

  .goods-card__column {
    margin-left: 25px;
  }

  .goods-card__title {
    margin-right: 50px;
  }

  .goods-card__price {
    margin-bottom: 18px;
    padding-top: 36px;
  }
}
