.goods-card {
  dispaly: flex;
  flex-direction: column;
  margin-bottom: 30px;
  border: 1px solid #ededed;

  &__title {
    margin-top: 20px;
    margin-left: 29px;
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
  }

  &__decs {
    margin-left: 29px;
    font-size: 13px;
    line-height: 30px;
    color: #444444;
  }

  &__price {
    margin-left: 27px;
    margin-right: 27px;
    padding-top: 15px;
    border-top: 1px solid #ececec;
    font-size: 15px;
    line-height: 24px;
    font-weight: bold;
  }

  &__order-btn {
    float: right;
    font-size: 0;

    &:before {
      content: url('../img/icon-cart.svg')
    }
  }
}

@media #{$tablet-width} {
  .goods-card {
    &__picture {
      float: left;
      margin-right: 25px;
    }

    &__picture,
    &__picture img {
      width: 334px;
      height: 335px;
    }

    &__column {
      margin-left: 360px;
    }

    &__title {
      font-size: 20px;
    }

    &__price {
      margin-top: 170px;
    }
  }
}

@media #{$desktop-width} {
  .goods-card {
    &__picture {
      float: none;
      margin-right: 0;
    }


    &__column {
      margin-left: 0;
    }

    &__price {
      margin-top: 0;
    }
  }
}
