.goods-cards-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 25px;
}

@media #{$tablet-width} {
  .goods-cards-container {
    margin-top: 79px;
  }
}

@media #{$desktop-width} {
  .goods-cards-container {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 150px;
  }
}
