.goods-week-card {
  display: flex;
  // flex-direction: row-reverse;
  flex-wrap: wrap;
  width: $content-width;
  margin: $content-margin;
  margin-bottom: 40px;

  font-size: 19px;
  line-height: 24px;
  color: #444444;

  &__title {
    flex-basis: 100%;
    margin-top: 28px;
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    color: #000;
    text-align: left;
    cursor: pointer;
  }


  &__title-label {
    margin-top: 7px;
    font-size: 17px;
    line-height: 16px;
    font-weight: bold;
    color: #63d1bb;
    text-transform: uppercase;
  }


  &__desc {
    margin-top: 25px;
    font-size: 15px;
    line-height: 24px;
  }

  &__info {
    margin: 0;
    margin-top: 26px;
    margin-bottom: 29px;
    font-size: 15px;
    line-height: 20px;

    &-name {
      float: left;
      width: 95px;
    }

    &-definit {
      float: left;
      margin: 0;
    }

    &-row {
      margin-top: 9px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ececec;
    }

    &-row:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  &__picture {

    & img {
      width: 260px;
      height: 315px;
    }
  }

  &__price {
    //flex-basis: 100%;
    margin-top: 19px;
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
  }

  &__buy {
    margin-top: 27px;
  }

}

@media #{$tablet-width} {
  .goods-week-card {
    justify-content: space-between;
    align-items: flex-start;
    width: 668px;
    margin-bottom: 70px;

    &__title {
      flex-basis: 75%;
      margin-top: 43px;
      font-size: 43px;
      line-height: 50px;
      align-self: center;
    }

    &__title-label {
      flex-basis: 75px;
      margin-top: 45px;
      margin-right: 25px;
      align-self: center;
      text-align: center;
    }

    &__content {
      position: relative;
      height: 400px;
      margin: $content-margin;
      margin-top: 50px;
      padding-right: 378px;

      display: flex;
      flex-direction: column;
      //justify-content: space-between;
    }

    &__desc {
      margin-top: 0;
      font-size: 17px;
      line-height: 30px;
    }

    &__info {
      margin-top: 34px;
    }

    &__picture {
      position: absolute;
      top: 0;
      right: 0;
    }
    &__picture img {
      width: 334px;
      height: 405px;
    }

    &__price {
      margin-top: 27px;
      font-size: 20px;
    }

    &__buy {
      margin-top: 36px;
    }
  }
}

@media #{$desktop-width} {
  .goods-week-card {
    width: 1050px;
    margin-bottom: 0;

    &__title {
      margin-top: 120px;
      flex-basis: 84%;
      font-size: 53px;
      line-height: 57px;
    }

    &__title-label {
      order: -1;
      margin-top: 128px;
      margin-left: 45px;
    }

    &__desc {
      font-size: 17px;
      line-height: 30px;
    }

    &__content {
      padding-left: 173px;
      padding-right: 586px;
      height: 566px;
    }

    &__info {
      margin-top: 48px;
    }


    &__picture {
      top: -160px;
      z-index: -1;
    }

    &__picture img {
      width: 525px;
      height: 636px;
    }

    &__price {
      margin-top: 80px;
    }
  }
}
