.intro {
  width: $mobile-content-width;
  margin: $content-margin;
  margin-top: 18px;
  font-size: 13px;
  line-height: 24px;
  color: $text-brown;
}

@media #{$tablet-width} {
  .intro {
    width: $tablet-content-width;
    margin-top: 72px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media #{$desktop-width} {
  .intro {
    width: 700px;
    margin-top: 115px;
    margin-left: 225px;
    margin-right: 225px;
  }
}
