.main-nav {
  position: relative;
  border-bottom: 1px solid #ececec;

  &--opened .main-nav__toggle:before {
    content: url('../img/icon-menu-close.svg');
  }
}

.main-nav__toggle {
  position: absolute;
  top: -50px;
  right: 30px;

  width: 20px;
  height: 20px;

  padding: 0;
  border: 0;

  background-color: transparent;
  font-size: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:before {
    content: url('../img/icon-menu-open.svg');
  }

}

.main-nav__wrapper {
  width: $mobile-full-width;
  margin: $content-margin;
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 2;
}

.main-nav__items {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  &--delivery,
  &--new-sale {
    display: none;
  }
}

.main-nav__item {
  position: relative;
}

.main-nav__icon {
  position: absolute;
  top: 32px;
  left: 30px;
  fill: #444;
  opacity: 0.2;
}

.main-nav__item-link {
  display: block;
  padding-top: 27px;
  padding-left: 75px;
  padding-bottom: 27px;
  border-top: 1px solid #ececec;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;

  &:hover {
    color: #666;
  }

  &:active {
    color: #b2b2b2;
  }
}

.main-nav__item-link:hover .main-nav__icon {
  fill: #63d1bb;
  opacity: 1;
}

.main-nav__item-link:active .main-nav__icon {
  fill: #63d1bb;
  opacity: 0.3;
}

@media #{$mobile-width-only} {
  .main-nav {
    /* Откл js  */
    &--no-js .main-nav__toggle {
      display: none;
    }

    &--no-js .main-nav__wrapper {
      position: relative;
    }

    &--opened .main-nav__wrapper {
      display: block;
    }
  }
}

@media #{$tablet-width} {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__wrapper {
    display: flex;
    width: $tablet-content-width;
    background-color: transparent;
  }

  .main-nav__items {
    flex-direction: row;
  }

  .main-nav__item-link {
    margin-top: 17px;
    padding: 0;
    border: none;
  }

  .main-nav__items--catalog-form {
    margin-right: auto;
  }

  .main-nav__items--catalog-form a {
    font-size: 15px;
  }


  .main-nav__item--catalog {
    margin-right: 30px;
  }

  .main-nav__items--delivery {
    display: flex;
  }

  .main-nav__items--delivery a {
    font-size: 15px;
    font-weight: normal;
  }

  .main-nav__items--find-bascket {
    position: absolute;
    top: -88px;
    right: 0;
    height: 88px;
    text-align: right;
  }

  .main-nav__items--find-bascket a {
    margin: 0;
    padding-top: 32px;
    padding-bottom: 29px;
  }

  .main-nav__item--find {
    border-left: 1px solid #ececec;
  }

  .main-nav__item--find a {
    padding-left: 84px;
    font-size: 0;
  }

  .main-nav__icon {
    top: 35px;
    left: 32px;
  }

  .main-nav__item--bascket {
    position: relative;
    border-left: 1px solid #ececec;
  }

  .main-nav__item--bascket a {
    padding-left: 85px;
  }
}

@media #{$desktop-width} {
  .main-nav__wrapper {
    width: $desktop-content-width;
  }

  .main-nav__items--catalog-form {
    position: absolute;
    top: -88px;
    left: 0;
    height: 88px;
    text-align: left;
  }

  .main-nav__items--catalog-form a {
    margin: 0;
    padding-top: 32px;
    padding-right: 30px;
    padding-bottom: 29px;
    font-size: 17px;
  }

  .main-nav__item--catalog {
    border-right: 1px solid #ececec;
  }

  .main-nav__items--new-sale {
    display: flex;
    margin-right: auto;
  }

  .main-nav__items--new-sale a {
    font-size: 15px;
    padding-left: 0;
  }

  .main-nav__item--new {
    margin-right: 50px;
  }


}
