.map {
  width: $full-width;
  margin-top: 45px;
  margin-bottom: 39px;

  &__mailus {
    width: $content-width;
    margin: $content-margin;
    margin-top: 39px;
  }
}

@media #{$tablet-width} {
  .map,
  .map img {
    width: 768px;

  }


}

@media #{$desktop-width} {
  .map {
    width: 1150px;
  }


  .map img {
    width: 525px;
  }
}
