.nav-add {
  display: flex;
  flex-wrap: wrap;
}

.nav-add__item {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  display: block;

  /*min-height: 100px;*/
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 34px;
  padding-right: 180px;

  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  cursor: pointer;

  &--lamp {
    background-color: #63d1bb;
  }

  &--lamp::after {
    content: url('../img/icon-interior.svg');
    position: absolute;
    width: 40px;
    height: 69px;
    top: 20px;
    right: 35px;
    opacity: 0.5;
  }

  &--lego {
    background-color: #56c3b2;
  }

  &--lego::after {
    content: url('../img/icon-toy.svg');
    position: absolute;
    width: 60px;
    height: 67px;
    right: 25px;
    top: 20px;
    opacity: 0.5;
  }


}

.nav-add__item-text {
  color: #ffffff;
}


@media #{$tablet-width} {
  .nav-add {
    flex-wrap: nowrap;
  }

  .nav-add__item {
    box-sizing: border-box;
    width: 50%;
    padding-left: 35px;
    padding-right: 195px;
    padding-top: 27px;
    font-size: 20px;
    line-height: 30px;
    transition: transform .2s ease;

    &:after {
      top: 30px;
    }

    &--lego:after {
      right: 35px;
    }

    /* ---HOVER--- */
    &:hover {
      transform: translateY(-5px);
    }

    &--lamp:hover {
      background-color: #59d5bc;
    }

    &--lego:hover {
      background-color: #46c1ae;
    }

    &:hover::after {
      opacity: 0.7;
    }

    /* ---ACTIVE--- */

    &:active::after,
    &:active .nav-add__item-text {
      opacity: 0.3;
    }
  }
}

@media #{$desktop-width} {
  .nav-add__item {
    padding-right: 315px;
  }
}
