.nav-add {
  display: flex;
  flex-wrap: wrap;

  &__item {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    display: block;

    /*min-height: 100px;*/
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 34px;
    padding-right: 180px;

    font-size: 19px;
    line-height: 24px;
    font-weight: bold;
    cursor: pointer;

    &-text {
      color: #ffffff;
    }

    &--lamp {
      background-color: #63d1bb;
    }

    &--lamp::after {
      content: url("../img/icon-interior.svg");
      position: absolute;
      top: 20px;
      right: 35px;
    }

    &--lego {
      background-color: #56c3b2;
    }

    &--lego::after {
      content: url("../img/icon-toy.svg");
      position: absolute;
      right: 25px;
      top: 20px;
    }
  }
}

@media #{$tablet-width} {
  .nav-add {
    flex-wrap: nowrap;
  }

  .nav-add__item {
    box-sizing: border-box;
    width: 50%;
    padding-left: 35px;
    padding-right: 195px;
    padding-top: 27px;
    font-size: 20px;
    line-height: 30px;

    &:after {
      top: 30px;
    }

    &--lego:after {
      right: 35px;
    }
  }
}

@media #{$desktop-width} {
  .nav-add__item {
    padding-right: 315px;
  }
}
