.order-form {
  margin-bottom: 55px;
  font-size: 17px;
  line-height: 18px;


  &__legend {
    padding: 0;
    padding-right: 30px;
    font-size: 17px;
    line-height: 16px;
    text-transform: uppercase;
    color: #63d1bb;
  }

  &__fieldset {
    margin: 0;
    margin-top: 40px;
    padding: 0;
    padding-top: 30px;
    border: none;
    border-top: 1px solid #62d1ba;
  }

  &__label-radio,
  &__label-checkbox {
    display: block;
    margin-top: 40px;
    font-weight: bold;
  }

  &__label-text--name span {
    font-weight: bold;
  }

  &__label-text input {
    display: block;
    width: 100%;
    padding: 0;
    padding-bottom: 16px;
    margin-top: 15px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    font-size: 17px;
    line-height: 18px;
  }

  &__fieldset--phone input,
  &__fieldset--mail input{
    display: block;
    width: 100%;
    padding: 0;
    // padding-right: 40px;
    padding-bottom: 16px;
    border: none;
    border-bottom: 1px solid #000000;
    background-color: transparent;
    outline: none;
    font-size: 17px;
    line-height: 18px;
  }

  &__fieldset--addition textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 15px;
    border: 2px solid #444444;
    outline: none;
    font-size: 17px;
    line-height: 18px;
    resize: none;
  }

  &__req-text {
    font-size: 14px;
    line-height: 16px;
    color: #444444;
  }

  &__submit {
    width: $content-width;
  }
}

@media #{$tablet-width} {
  .order-form {
    margin-top: 20px;

    &__fieldset {
      position: relative;
      margin: 0;
      padding: 0;
      padding-top: 25px;
      padding-left: 167px;
      padding-bottom: 50px;
      border: none;
    }

    &__legend {
      position: absolute;
      left: 0;
      top: 65px;
    }

    &__labels-wrapper {
      display: flex;
      flex-direction: column;
    }

    &__fieldset--color  &__labels-wrapper{
      flex-direction: row;
      flex-wrap: wrap;
      //justify-content: flex-start;
    }

    &__label-text--name {
      display: flex;
      align-items: baseline;
    }

    &__label-text--name input {
      margin-left: 25px;
    }


    &__fieldset--color label {
      flex-basis: 50%;
    }

    &__fieldset--color,
    &__fieldset--phone,
    &__fieldset--mail {
      background-color: #f1f1f1;
    }

    &__fieldset--name,
    &__fieldset--phone input,
    &__fieldset--mail input,
    &__fieldset--addition textarea {
      font-size: 19px;
    }

    &__req-text {
      float: right;
    }
  }
}

@media #{$desktop-width} {
  .order-form {
    &__fieldset {
      padding-left: 175px;
      padding-right: 175px;
    }

    &__fieldset--color label {
      flex-basis: 33%;
    }

    &__req-text {
      margin-right: 175px;
    }

    &__submit {
      margin-left: 175px;
    }
  }
}
