.page-header{
  position: relative;
  width: $full-width;
  margin: $content-margin;
  padding-top: 20px;
  padding-bottom: 20px;

  &__logo {
    display: block;
    margin: $content-margin;
    width: 90px;

  }




}
