.page-footer {
  margin-top: 5px;
  padding-top: 20px;
  border-top: 1px solid #f1f1f1;
  // border-bottom: 1px solid #f1f1f1;
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  width: $content-width;
  margin: $content-margin;
  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  display: none;
}


.page-footer__socials {
  margin-top: 25px;
  padding-bottom: 25px;
  font-size: 0;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.page-footer__social-link {
  display: inline-block;
  vertical-align: middle;
  //height: 30px;
  width: 23px;
  margin-left: 20px;
  margin-right: 20px;
  fill: #221f1f;
}

.page-footer__social-icon {
  &:hover {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__copyright {
  // width: 180px;
  // margin: 25px auto;
  font-size: 19px;
  line-height: 18px;
  text-align: center;
  font-weight: bold;
  color: #000000;
}

.page-footer__copyright-icon {
  display: inline-block;
  padding: 10px;
  // padding-top: 15px;
  // padding-left: 20px;
  vertical-align: middle;
}


.page-footer__copyright-logo:hover .page-footer__copyright-icon {
  fill: #46c1ae;
}

.page-footer__copyright-logo:active {
  opacity: 0.3;
}

.page-footer__copyright-name {
    font-size: 0;
}


@media #{$tablet-width} {
  .page-footer__wrapper {
    width: 668px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    display: block;

    &:hover .page-footer__logo-icon{
      fill: #46c1ae;
    }

    &:active .page-footer__logo-icon{
      opacity: 0.3;
    }
  }
}

@media #{$desktop-width} {
  .page-footer__wrapper {
      width: 1050px;
    }
}
