.page-wrapper {
  position: relative;
  width: $mobile-full-width;
  margin: $content-margin;

  @media #{$tablet-width} {
    width: $tablet-full-width;
  }

  @media #{$desktop-width} {
    width: $desktop-full-width;
  }
}
